<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body { font-family: Arial, sans-serif; }
        h1 { color: navy; }
    </style>
</head>
<body>
<h1>Examen de Admision</h1>
<p>Pregunta 1: <span th:text="${pregunta1}">Pregunta 1</span></p>
<p>a) <span th:text="${respuesta1A}">Respuesta a</span></p>
<p>b) <span th:text="${respuesta1B}">Respuesta b</span></p>
<p>c) <span th:text="${respuesta1C}">Respuesta c</span></p>
<p>d) <span th:text="${respuesta1D}">Respuesta d</span></p>
<p>e) <span th:text="${respuesta1E}">Respuesta e</span></p>
<p>Pregunta 2: <span th:text="${pregunta2}">Pregunta 2</span></p>
<p>a) <span th:text="${respuesta2A}">Respuesta a</span></p>
<p>b) <span th:text="${respuesta2B}">Respuesta b</span></p>
<p>c) <span th:text="${respuesta2C}">Respuesta c</span></p>
<p>d) <span th:text="${respuesta2D}">Respuesta d</span></p>
<p>e) <span th:text="${respuesta2E}">Respuesta e</span></p>
<p>Pregunta 3: <span th:text="${pregunta3}">Pregunta 3</span></p>
<p>a) <span th:text="${respuesta3A}">Respuesta a</span></p>
<p>b) <span th:text="${respuesta3B}">Respuesta b</span></p>
<p>c) <span th:text="${respuesta3C}">Respuesta c</span></p>
<p>d) <span th:text="${respuesta3D}">Respuesta d</span></p>
<p>e) <span th:text="${respuesta3E}">Respuesta e</span></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>Pregunta 4: <span th:text="${pregunta4}">Pregunta 4</span></p>
<p>a) <span th:text="${respuesta4A}">Respuesta a</span></p>
<p>b) <span th:text="${respuesta4B}">Respuesta b</span></p>
<p>c) <span th:text="${respuesta4C}">Respuesta c</span></p>
<p>d) <span th:text="${respuesta4D}">Respuesta d</span></p>
<p>e) <span th:text="${respuesta4E}">Respuesta e</span></p>
<p>Pregunta 5: <span th:text="${pregunta5}">Pregunta 5</span></p>
<p>a) <span th:text="${respuesta5A}">Respuesta a</span></p>
<p>b) <span th:text="${respuesta5B}">Respuesta b</span></p>
<p>c) <span th:text="${respuesta5C}">Respuesta c</span></p>
<p>d) <span th:text="${respuesta5D}">Respuesta d</span></p>
<p>e) <span th:text="${respuesta5E}">Respuesta e</span></p>
</body>
</html>
